{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "strict",
    "embeddedLanguageFormatting": "auto"
}
